<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Secure Question Bank application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Secure Question Bank", "index", "AdminTraffic", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Profile", "index", "AdminTraffic")
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Setting</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("View", "index", "AdminTraffic")</li>
                            <li>@Html.ActionLink("Edit", "index", "AdminTraffic")</li>
                            <li>@Html.ActionLink("Request", "index", "AdminTraffic")</li>
                            <li>@Html.ActionLink("Block", "index", "AdminTraffic")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Message</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Super Admin message", "index", "AdminTraffic")</li>
                            <li>@Html.ActionLink("Sub Admin Message", "index", "AdminTraffic")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Key</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Encrypt", "index", "AdminTraffic")</li>
                            <li>@Html.ActionLink("Decrypt", "index", "AdminTraffic")</li>
                            <li>@Html.ActionLink("View Key", "index", "AdminTraffic")</li>
                            <li>@Html.ActionLink("Incoming Key", "index", "AdminTraffic")</li>
                            <li>@Html.ActionLink("Send Key", "index", "AdminTraffic")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Question</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Sender Question Request", "index", "AdminTraffic")</li>
                            <li>@Html.ActionLink("View Receive Question", "index", "AdminTraffic")</li>
                            <li>@Html.ActionLink("Send To", "index", "AdminTraffic")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Logout", "index", "AdminTraffic")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Secure Question Bank Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
